
<a  routerLink='/home' class="pull-right"><button class="btn btn-primary" >LogOut</button></a>
<div class="panel panel-primary container" align="center">
        <a><button class="btn btn-primary" (click)="usersList()" >Individual Users</button></a>
        <a><button class="btn btn-primary" (click)="fundsList()">Fund Users</button></a>
       
    <div class="panel-heading">
        Client Information
    </div>
    <div class="panel-body" *ngIf="userList">
      <div class="table-responsive">
       
          <table class="table">
              <thead>
                <tr>
                  <th>User Id</th>
                  <th>Name</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList">
                    <a routerLink='/individual-trade/{{user.userId}}'><td>{{user.userId}}</td></a>
                    <td>{{user.firstName}}</td>
                    <td>{{user.balance}}</td>
                </tr>
              </tbody>
  
          </table>
      </div>
        
    </div>

    <div class="panel-body" *ngIf="fundList">
      <div class="table-responsive">
       
          <table class="table">
              <thead>
                <tr>
                  <th>Fund Id</th>
                  <th>Name</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fund of fundList">
                    <td>{{fund.fundId}}</td>
                    <td>{{fund.fundName}}</td>
                    <td>{{fund.fundBalance}}</td>
                </tr>
              </tbody>
  
          </table>
      </div>
        
    </div>
        
  </div>
