<h3 align="center" *ngIf = (message)>{{message}}</h3>
<div class="col-md-6 col-md-offset-3" >
    <h2 align='center'>Login</h2>
    <br/>
    <form name="form" >
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="userId"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
        </div>
        <br/> 
        <br/>

        <div >
            <button class="btn btn-primary" routerLink="/display/{{userId}}/{{password}}">Login</button>
            <a routerLink="/register"><button class="btn btn-primary" >Register for New User</button></a> 
        </div>

    </form>
</div>
