<a  routerLink='/home' class="pull-right"><button class="btn btn-primary" >LogOut</button></a>
<div class="panel panel-primary container" align="center">
        <a><button class="btn btn-primary" (click)="boughtStock()" >Bought</button></a>
        <a><button class="btn btn-primary" (click)="soldStock()">Sold</button></a>
        <h3 align="right"> Hello {{newUser.firstName}}</h3>
        <h3 align="right"> Current Balance:${{newUser.balance}}</h3>
        
    <div class="panel-heading">
        Transaction Information
    </div>
    <div class="panel-body">
      <div class="table-responsive">
       
          <table class="table">
              <thead>
                <tr>
                  <th>Transaction Id</th>
                  <th>Stock Name</th>
                  <th>Stock Price</th>
                  <th>Quantity</th>
                  <th>Charge Back</th>
                  <th>Balance(in $)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of transactionList">
                    <td>{{transaction.transactionId}}</td>
                    <td>{{transaction.stockName}}</td>
                    <td>{{transaction.stockPrice}}</td>
                    <td>{{transaction.quantity}}</td>
                    <td>{{transaction.chargeBack}}</td>
                    <td>{{transaction.balanceInDollar}}</td> 
                </tr>
              </tbody>
  
          </table>
      </div>
        
    </div>
        
  </div>