<div class="col-md-6 col-md-offset-3" >
    <h2 align='center'>Login</h2>
    <br/>
    <form name="form" >
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="userId"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
        </div>
        <br/> 
        <br/>

        <div >
            <button class="btn btn-primary" routerLink="/displayAdmin/{{userId}}/{{password}}">Login</button> 
        </div>

    </form>
</div>
